@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Choose the page you want to Convert either temperature with the temperature page or Convert mass with the
        mass page.
    </p>
</div>
